{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <div class="besteak-container">
        <div>
            <a href="/catalogue" class="btn btn-primary">Erabiltzailea sortu</a>
            <p>Administratzailea erabiltzaileak sortzeko aukera</p>
        </div>
        <div>
            <a href="/catalogue" class="btn btn-primary">Erabiltzailea ezabatu</a>
            <p>Administratzaileak erabiltzaileak ezabatzeko aukera</p>
        </div>
        <div>
            <a href="/catalogue" class="btn btn-primary">Liburuak sartu</a>
            <p>Administratzaileak liburuak sartzeko aukera</p>
        </div>
    </div>
</div>
{% endblock %}