{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <div class="besteak-container">
        <div>
            <a href="/erabiltzaileaSortu" class="btn btn-primary">Erabiltzailea sortu</a>
            <p>Administratzailea erabiltzaileak sortzeko aukera</p>
        </div>
        <div>
            <a href="/erabiltzaileaEzabatu" class="btn btn-primary">Erabiltzailea ezabatu</a>
            <p>Administratzailea erabiltzaileak ezabatzeko aukera</p>
        </div>
        <div>
            <a href="/liburuaSartu" class="btn btn-primary">Liburua sartu</a>
            <p>Administratzailea liburuak sartzeko aukera</p>
        </div>
    </div>
</div>
{% endblock %}