{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <div class="besteak-container">
        <div>
            <button type="button" class="btn btn-primary">Erabiltzailea sortu</button>
            <p>Administratzailea erabiltzaileak sortzeko aukera</p>
        </div>
        <div>
            <button type="button" class="btn btn-primary">Erabiltzailea ezabatu</button>
            <p>Administratzaileak erabiltzaileak ezabatzeko aukera</p>
        </div>
        <div>
            <button type="button" class="btn btn-primary">Liburuak sartu</button>
            <p>Administratzaileak liburuak sartzeko aukera</p>
        </div>
    </div>
</div>
{% endblock %}