{% extends 'base.html' %}

{% block content %}

<div class="container p-5 my-5 border">
    <h1>Eskaerak</h1>
    {% if erabiltzaileLista %}
        {% for erab in erabiltzaileLista %}
            <div class="col-lg-12 col-md-6 col-sm-12 my-2">
                <div class="card" style="width: 77rem; overflow: auto;">
                    <h6 class="card-subtitle mb-2 text-muted" style="display: flex; justify-content: center; align-items: center; margin: 3px " >{{erab.MailKontua}}</h6>
                    <div class="card-footer" style="display: flex; justify-content: center; align-items: center; ">
                        <form method="POST">
                            <input type="submit" style="background-color: lightblue; color: black; margin: 10px; border-radius: 5px;" value="onartu" id="onartu" name="onartu">
                            <input type="submit" style="background-color: lightcoral; color: black; margin: 10px; border-radius: 5px;" value="ezeztatu" id="ezeztatu" name="ezeztatu">
                            <input type="hidden" value="{{erab.MailKontua}}" id="korreoa" name="korreoa">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h5> Ez daude erabiltzailerik lagunak izateko</h5>
    {% endif %}
</div>

{% endblock %}
