{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h2>{{ gaia.title }}</h2>
    <p>{{ gaia.content }}</p>
    <ul>
        {% for komentarioa in gaia.komentarioak %}
            <li>{{ komentarioa.user_id }} esan du: {{ komentarioa.content }}</li>
        {% endfor %}
    </ul>
    <form method="POST" action="/foroak/{{ gaia.id }}/comentar">
        <textarea name="komentarioa" rows="1" cols="50"></textarea>
        <br>
        <input type="submit" value="Komentatu">
    </form>
</div>
{% endblock %}
