{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
    <h2>Liburua sartu</h2>
    <form class="form-inline" method="POST">

        <!-- Izenburua input -->
        <div class="form-group">
            <label for="izenburua">Izenburua</label>
            <input type="text" id="izenburua" name="izenburua" maxlength="50" class="form-control" required>
        </div>

        <!-- Egilea input -->
        <div class="form-group">
            <label for="egilea">Egilea</label>
            <input type="text" id="egilea" name="egilea" maxlength="50" class="form-control" required>
        </div>

        <!-- Irudia input -->
        <div class="form-group">
            <label for="irudia">Irudia (url)</label>
            <input type="text" id="irudia" name="irudia" maxlength="50" class="form-control" required>
        </div>

        <!-- Deskribapena input -->
        <div class="form-group">
            <label for="deskribapena">Deskribapena</label>
            <textarea id="deskribapena" name="deskribapena" class="form-control" required></textarea>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Gorde liburua</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
