{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">
<div class="check-btn-container" style="display: flex; flex-direction: column; align-items: flex-end;">
    <a href="/aukerak" class="nav-link {% if request.path == '/aukerak' %}active{% endif %}">
      <button type="button" class="btn btn-primary btn-block mb-4" style="margin: 10px; border-radius: 50%; background-color: white; color: black; border: none;">
        <img src="https://www.svgrepo.com/show/522270/settings.svg" alt="Aukerak" width="32" height="32">
      </button>
    </a>
  <div style="margin: 10px; font-weight: bold; margin-top: -25px;">Aukerak</div>
</div>
<h2>Erreserben Historiala</h2>

<ul class="row">
    {% if erreserbak %} <!-- Si la variable erreserbak no está vacía -->
        {% for erreserba, lib_info, erreseina in zip(erreserbak, lib_info, erreseinak) %} <!-- Para cada reserva, reseña y libro en las listas -->
            <div class="col-lg-12 col-md-6 col-sm-12 my-2">
                <div class="card" style="width: 100%; overflow: auto;">
                    <div class="card-body" style="display: flex; flex-direction: row;">
                        <div style="width: 50%;">
                            {% if erreserba.noizEntregatuDa %}
                                <h5 class="card-title"><a href="/liburua?id={{lib_info.id}}">{{lib_info.title}}</a></h5>
                            {% else %}
                                <h5 class="card-title"><a href="/liburua2?id={{lib_info.id}}&kopia_id={{erreserba.libId}}">{{lib_info.title}}</a></h5>
                            {% endif %}
                            <h6 class="card-subtitle mb-2 text-muted">Erreserba Data:{{erreserba.erresData}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Entrega Data:{{erreserba.entrData}}</h6>
                            {% if lib_info.cover: %}
                            <img src="{{lib_info.cover}}" class="rounded" style="max-width: 6rem; height: fit-content; float: left;">
                            {% endif %}
                        </div>
                        <div class="card-footer" style="width: 100%; margin-left: auto;">
                            {% if erreseina.punt:%}
                                <div class="valoracion">
                                    {% for i in range(1, 6) %}
                                    {% if i <= erreseina.punt %}
                                    <i class="fa fa-star"style=color:yellow></i>
                                    {% else %}
                                    <i class="fa fa-star"></i>
                                    {% endif %}
                                    {% endfor %}
                                    <br>
                                    {% if erreseina.desk %}
                                    {{erreseina.desk}}
                                    {% else %}
                                    Ez da egin erreseinarik
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="valoracion">
                                    {% for i in range(1, 6) %}
                                    <i class="fa fa-star"></i>
                                    {% endfor %}
                                    <br>
                                    {% if erreseina.desk %}
                                    {{erreseina.desk}}
                                    {% else %}
                                    Ez da egin erreseinarik
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                </div>
            </div>
        {% endfor %}
    {% else %} <!-- Si la variable erreserbak está vacía -->
      <p>Ez daude libururik erreserbaturik.</p> <!-- Mostrar un mensaje indicando que no hay libros reservados -->
    {% endif %}
    </div>
</ul>

    <nav>
      <ul class="pagination justify-content-center">
          {% if current_page-3 > 1: %}
          <li class="page-item">
              <a class="page-link" href="{{request.path}}?title={{title}}&author={{author}}&page=1" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
              </a>
          </li>
          {% endif %}

        {% for page in range(max(1, current_page-3),min(total_pages+1, current_page+4)) %}
            <li class="page-item"><a class="page-link {% if page == current_page %}active{% endif %}" href="{{request.path}}?title={{title}}&author={{author}}&page={{page}}">{{page}}</a></li>
        {% endfor %}

        {% if current_page+3 < total_pages : %}
          <li class="page-item">
              <a class="page-link" href="{{request.path}}?title={{title}}&author={{author}}&page={{total_pages}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
              </a>
          </li>
        {% endif %}
      </ul>
    </nav>
</div>
{% endblock %}
